In [7]:
import pandas as pd

In [8]:
purnu_df = pd.read_csv("Purnu_data.csv")
ruka_df = pd.read_csv("Ruka_data.csv")
purnu_df
ruka_df

,date,snow_depth_cm,avg_temp_c,cloud_cover_rate,cloud_cover,row_order
0,2003-03-10,70,0,NaN,-,0
1,2003-03-11,70,0.4,NaN,-,1
2,2003-03-12,77,-3.6,NaN,-,2
3,2003-03-13,77,-9.3,NaN,-,3
4,2003-03-14,76,1.7,NaN,-,4
...,...,...,...,...,...,...
9859,2025-03-06,42,-3.3,8.0,Cloudy,9859
9860,2025-03-07,41,-6,7.0,Mostly cloudy,9860
9861,2025-03-08,46,-2.4,3.0,Mostly clear,9861
9862,2025-03-09,49,-3.7,8.0,Cloudy,9862
9863,2025-03-10,48,-,7.0,Mostly cloudy,9863

In [9]:
# Tarkista duplikaatit päivämäärien mukaan
purnu_duplicates = purnu_df[purnu_df.duplicated(subset=['date'], keep=False)]
ruka_duplicates = ruka_df[ruka_df.duplicated(subset=['date'], keep=False)]

print(f"Purnu duplikaatit: {len(purnu_duplicates)}")
print(f"Ruka duplikaatit: {len(ruka_duplicates)}")

Purnu duplikaatit: 9498
Ruka duplikaatit: 3654

In [10]:
purnu_df.shape

(12786, 6)

In [11]:
import pandas as pd

# Lue tiedostot
purnu_df = pd.read_csv("Purnu_data.csv")
ruka_df = pd.read_csv("Ruka_data.csv")

# Poistetaan duplikaatit päivämäärän perusteella ja säilytetään **viimeinen** rivi (alempi)
purnu_df = purnu_df.drop_duplicates(subset=['date'], keep='last')

ruka_df = ruka_df.drop_duplicates(subset=['date'], keep='last')

# Tallenna tiedostot takaisin, jos haluat
purnu_df.to_csv("Purnu_cleaned.csv", index=False)
ruka_df.to_csv("Ruka_cleaned.csv", index=False)

print("Duplikaatit poistettu molemmista tiedostoista.")

Duplikaatit poistettu molemmista tiedostoista.

In [12]:
purnu_df.shape

(8037, 6)

In [13]:
import pandas as pd

# Lue "cleaned" kansiosta Purnu_cleaned.csv ja Ruka_cleaned.csv
purnu_cleaned_df = pd.read_csv("Purnu_cleaned.csv")
ruka_cleaned_df = pd.read_csv("Ruka_cleaned.csv")

# Tarkista duplikaatit kummassakin DataFramessa (perustuu päivämäärään 'date')
purnu_cleaned_duplicates = purnu_cleaned_df[purnu_cleaned_df.duplicated(subset=['date'], keep=False)]
ruka_cleaned_duplicates = ruka_cleaned_df[ruka_cleaned_df.duplicated(subset=['date'], keep=False)]

# Tulosta duplikaattien määrä kummassakin DataFramessa
print(f"Purnu duplikaatit 'cleaned' kansiossa: {len(purnu_cleaned_duplicates)}")
print(f"Ruka duplikaatit 'cleaned' kansiossa: {len(ruka_cleaned_duplicates)}")

Purnu duplikaatit 'cleaned' kansiossa: 0
Ruka duplikaatit 'cleaned' kansiossa: 0