In [4]:
import pandas as pd

combined_df = pd.concat( 
    map(pd.read_csv, ['Sodankylä Tähtelä_ 10.3.2004 - 10.3.2005.csv', 'Sodankylä Tähtelä_ 11.3.2005 - 10.3.2006.csv', 'Sodankylä Tähtelä_ 11.3.2006 - 10.3.2007.csv', 'Sodankylä Tähtelä_ 11.3.2007 - 10.3.2008.csv', 'Sodankylä Tähtelä_ 11.3.2008 - 10.3.2009.csv', 'Sodankylä Tähtelä_ 11.3.2009 - 10.3.2010.csv', 'Sodankylä Tähtelä_ 11.3.2010 - 10.3.2011.csv', 'Sodankylä Tähtelä_ 11.3.2011 - 10.3.2012.csv', 'Sodankylä Tähtelä_ 11.3.2012 - 10.3.2013.csv', 'Sodankylä Tähtelä_ 11.3.2021 - 10.3.2022.csv', 'Sodankylä Tähtelä_ 11.3.2022 - 10.3.2023.csv', 'Sodankylä Tähtelä_ 11.3.2023 - 10.3.2024.csv', 'Sodankylä Tähtelä_ 11.3.2024 - 10.3.2025.csv']), ignore_index=True) 
print(combined_df) 

combined_df.to_csv('sodankyla_solar_years_combined.csv', index=False)

     Observation station  Year  Month  Day Time [Local time]  \
0      Sodankylä Tähtelä  2004      3   10             00:00
1      Sodankylä Tähtelä  2004      3   11             00:00
2      Sodankylä Tähtelä  2004      3   12             00:00
3      Sodankylä Tähtelä  2004      3   13             00:00
4      Sodankylä Tähtelä  2004      3   14             00:00
...                  ...   ...    ...  ...               ...
4744   Sodankylä Tähtelä  2025      3    6             00:00
4745   Sodankylä Tähtelä  2025      3    7             00:00
4746   Sodankylä Tähtelä  2025      3    8             00:00
4747   Sodankylä Tähtelä  2025      3    9             00:00
4748   Sodankylä Tähtelä  2025      3   10             00:00

     Direct solar radiation mean [W/m2]
0                                 125.4
1                                 275.5
2                                   2.4
3                                 138.3
4                                  81.7
...                                 ...
4744                                0.4
4745                              231.7
4746                               -0.2
4747                              184.2
4748                              102.5

[4749 rows x 6 columns]